<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MvcDemoEntities" connectionString="metadata=res://*/MvcDemo.csdl|res://*/MvcDemo.ssdl|res://*/MvcDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YUNKE;Initial Catalog=MvcDemo;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>