<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="head"><b>ASP.NET MVC+EF+LINQ+Spring.Net 用户增删除改查简单Demo</b></div>
    <div id="main">
    @RenderBody()
    </div>
</body>
</html>
