@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Message , world!!
        <p>we are going to having a exciting party </p>
        @Html.ActionLink("Rsvp Now!", "RsvpForm")
    </div>
</body>
</html>
