body{font-family:Î¢ÈíÑÅºÚ;font-size:15px; margin:0px; padding:0px; }
a:link, a:visited, a:active { text-decoration:none; color:Blue}
a:hover{ text-decoration:underline;}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#head{height:50px; line-height:50px; margin: 3px 10px;padding:0px 24px;font-size:22px; color:#fff; background: -moz-linear-gradient(center top , #2B6695, #0E4773) repeat scroll 0 0 #2B6695;box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.25);}
#main{margin:10px 10px 5px 10px; border:1px solid #D8DFEA; padding:0px 24px;}
#nav{ line-height:30px; line-height:30px;border-bottom:1px solid #D8DFEA; }
table{ width:auto; line-height:30px; background:#000; border:none;}
th{ background:#eee; padding:0px 5px; text-align:center;}
td{ background:#fff; padding: 0px 5px;}

.display-field{ color:Fuchsia; font-weight:bold;}